USE [master]
GO
/****** Object:  Database [TradeCenter]    Script Date: 23/10/2025 9:00:08 p. m. ******/
CREATE DATABASE [TradeCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TradeCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TradeCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TradeCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TradeCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TradeCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TradeCenter]
GO
/****** Object:  Table [dbo].[Carta]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carta](
	[CartaId] [int] IDENTITY(1,1) NOT NULL,
	[TcgId] [int] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Rareza] [int] NOT NULL,
	[Edicion] [nvarchar](100) NULL,
	[EstadoCarta] [nvarchar](20) NULL,
	[ImagenUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ChatId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioUno] [int] NOT NULL,
	[UsuarioDos] [int] NOT NULL,
	[Conversacion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColeccionUsuario]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColeccionUsuario](
	[ColeccionId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[CartaId] [int] NOT NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ColeccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleIntercambio]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleIntercambio](
	[DetalleId] [int] IDENTITY(1,1) NOT NULL,
	[IntercambioId] [int] NOT NULL,
	[CartaId] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Intercambio]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Intercambio](
	[IntercambioId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioOferta] [int] NOT NULL,
	[UsuarioReceptor] [int] NOT NULL,
	[FechaIntercambio] [date] NULL,
	[EstadoIntercambio] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IntercambioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resena]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resena](
	[ResenaId] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[Calificacion] [int] NULL,
	[Comentario] [nvarchar](500) NULL,
	[FechaResena] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResenaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCG]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCG](
	[TcgId] [int] IDENTITY(1,1) NOT NULL,
	[NombreTcg] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TcgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/10/2025 9:00:08 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Contrasena] [nvarchar](200) NOT NULL,
	[FechaRegistro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColeccionUsuario] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[Intercambio] ADD  DEFAULT (getdate()) FOR [FechaIntercambio]
GO
ALTER TABLE [dbo].[Resena] ADD  DEFAULT (getdate()) FOR [FechaResena]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Carta]  WITH CHECK ADD FOREIGN KEY([TcgId])
REFERENCES [dbo].[TCG] ([TcgId])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([UsuarioDos])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([UsuarioUno])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[ColeccionUsuario]  WITH CHECK ADD FOREIGN KEY([CartaId])
REFERENCES [dbo].[Carta] ([CartaId])
GO
ALTER TABLE [dbo].[ColeccionUsuario]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[DetalleIntercambio]  WITH CHECK ADD FOREIGN KEY([CartaId])
REFERENCES [dbo].[Carta] ([CartaId])
GO
ALTER TABLE [dbo].[DetalleIntercambio]  WITH CHECK ADD FOREIGN KEY([IntercambioId])
REFERENCES [dbo].[Intercambio] ([IntercambioId])
GO
ALTER TABLE [dbo].[Intercambio]  WITH CHECK ADD FOREIGN KEY([UsuarioOferta])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Intercambio]  WITH CHECK ADD FOREIGN KEY([UsuarioReceptor])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Resena]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Carta]  WITH CHECK ADD CHECK  (([EstadoCarta]='Nueva' OR [EstadoCarta]='Parcialmente usada' OR [EstadoCarta]='Dañada'))
GO
ALTER TABLE [dbo].[Intercambio]  WITH CHECK ADD CHECK  (([EstadoIntercambio]='rechazado' OR [EstadoIntercambio]='aceptado' OR [EstadoIntercambio]='pendiente'))
GO
ALTER TABLE [dbo].[Resena]  WITH CHECK ADD CHECK  (([calificacion]>=(1) AND [calificacion]<=(5)))
GO
USE [master]
GO
